<div class="col-lg-4 mb-4 p-5">
        <div class="card">
          <%= image_tag(recipe.picture) %>
          <div class="cards-body2">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.name %></h5>
              <p class="card-text"><%= recipe.description %></p>
               <%= link_to "Show", recipe_path(recipe), class: "btn btn-outline-success btn-sm" %>
            </div>
          </div>
        </div>
      </div>
