<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
  <br/>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <!--end of col-->
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
          </div>
          <!--end of col-->
          <div class="col-auto">
            <button class="btn btn-lg btn-success" type="submit">Search</button>
          </div>
          <!--end of col-->
        </div>
      </form>
    </div>
    <!--end of col-->
  </div>
</div>

<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 p-5">
        <div class="card">
          <img src="http://marineiscooking.com/wp-content/uploads/2019/03/gateau-au-chocolat-grand-mere-490x375.jpg" alt="" class="card-img-top">
          <div class="cards-body2">
            <div class="card-body">
              <h5 class="card-title">Gateaux au chocolat</h5>
              <p class="card-text">Miam Miam!</p>
              <a href="" class="btn btn-outline-success btn-sm">Voir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 p-5">
        <div class="card">
          <img src="https://www.galbani.fr/wp-content/uploads/2017/07/le_veritable_tiramisu_par_il_gusto_italiano_0.png" alt="" class="card-img-top">
          <div class="cards-body2">
            <div class="card-body">
              <h5 class="card-title">Tiramisu</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
              <a href="" class="btn btn-outline-success btn-sm">Voir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 p-5">
        <div class="card">
          <img src="https://static.750g.com/images/600-600/9823eb627203c878f3e36d72f8ce6d1c/tarte-aux-pommes.jpg" alt="" class="card-img-top">
          <div class="cards-body2">
            <div class="card-body">
              <h5 class="card-title">tartes aux pommes</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
              <div class="btn btn-outline-success btn-sm"><%= link_to "Voir", recipe_path(25) %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<%= form_tag search_recipes_path, method: :get do %>
                    <%= text_field_tag :query,
                      params[:query],
                      class: "form-control" %>
                    <%= submit_tag "Recherche", class: "btn btn-primary" %>
                  <% end %>
