<div class="card">
   <div class="header">
      <div class="icon">
      </div>
   </div>
   <div class="text">
      <h1 class="food">
         Gateaux aux chocolats
      </h1>
      <i class="fa fa-clock-o"> 15 Mins</i>

      <div class="stars">
         <li>
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-star-o"></i></a>
         </li>
      </div>
      <p class="info">Ingredients:</p>
   </div>
   <a href="#" class="btn">Add to list</a>
</div>
