<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-white">
        <div class="card-body">
          <ul class="nav nav-pills todo-nav">
            <h1>liste de courses</h1>
          </ul>
          <div class="todo-list">
            <% @ingredients.each do |ingredient| %>
            <div class="todo-item">
   <%= simple_form_for(ingredient, method: :patch, url: ingredient_path(ingredient) ) do |f| %>
    <%= f.input :checked,
    label: ingredient.name,
    input_html: { class: 'ingredient-input checker' },
    label_html: { class: 'ingredient-label'}  %>
  <% end %>
</div>
<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
const inputs = document.querySelectorAll('.ingredient-input');
inputs.forEach(function(input){
  input.addEventListener("click", () => {
    const label = input.parentNode.querySelector('.ingredient-label');
    label.classList.toggle('ingredient-check');
  });
});

</script>
