<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-white">
        <div class="card-body">
          <ul class="nav nav-pills todo-nav">
            <h1>liste de courses</h1>
          </ul>
          <div class="todo-list">
            <% @list_ingredients.each do |list_ingredient| %>
            <div class="todo-item" data-id="<%= list_ingredient.id %>">
   <%= simple_form_for(list_ingredient, method: :patch, url: list_ingredient_path(list_ingredient)) do |f| %>
    <%= f.input :checked,
    label: list_ingredient.ingredient.name,
    input_html: { class: 'ingredient-input checker', autocomplete: "checked" },
    label_html: { class: 'ingredient-label'}  %>
    <%= f.button :submit, 'boutton', class: "d-none ingredient-button" %>
  <% end %>
</div>
<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
const inputs = document.querySelectorAll('.ingredient-input');
inputs.forEach(function(input){
  input.addEventListener("click", () => {
    const label = input.parentNode.querySelector('.ingredient-label');
    const data = input.parentNode.parentNode.parentNode.parentNode;
    const id = data.dataset.id;
    const form = data.querySelector('form');
    const button = form.querySelector('.ingredient-button');
    label.classList.toggle('ingredient-check');
    button.click();
  });
});

</script>
