<div class='container'> <button type="button" class="btn trigger" data-toggle="modal" data-target="#exampleModal"> Découverte </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header "> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>
                <div class="modal-body p-0 row">
                    <div class="col-12 col-lg-4 ad p-0"> <img src="https://i.imgur.com/OswSbaT.png" width="100%" height="100%"> </div>
                    <div class="details col-12 col-lg-8">
                        <div class="heading d-flex">
                            <div class="logo"></div>
                            <div class="off"></div>
                        </div>
                        <h2>Premiere fois ici ?</h2>
                        <p><small class="text-muted">Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Inventore sed ex ipsam illum dicta error qui consequuntur rem itaque? Rerum enim nam odio impedit neque provident accusamus dicta, itaque perspiciatis.<br /> EXCLUSIVE AT JUST <strong>RS 999</strong></small></p>
                        <div class="text-muted hurry"><small>Viens decouvrir notre site !</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Welcome to Foodent</h1>
      </div>
    </div>
  </div>
</div>
    <%= link_to "Budget / week", dashboard_path %>
</div>