<div class="container">
  <p class="budget">Budget / week</p>
  <form action="dashboard" method="get">
  <label for="range">
    <input type="range" name="budget" id="range" min="15" max="300" step="5" value="175"/>
  </label>
    <div class="home-button">
      <input type="submit" value="Submit">
    </div>
  </form>
  <output for="range" class="output"></output>
</div>