body{
background:#ddd;
}
.form-control-borderless {
    border: none;

}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.btn{
background-color:red;
border-color:#ff6f61;
color:white;
}
.btn:hover{
background-color:red;
border-color:red;
}
.cards-body2 .card-body{
background-color:#ff6f61;
}
.searchbarcool{
  margin:30px;
}
.searchboutton{

}

.form-control {
  display: flex;
}
.form-control-lg{
  height: 80px;
}
.btn-lg{
  margin-top:20px;
}
