.navbar-lewagon {
  justify-content: space-between;
  background:#ff6f61;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
.modal, .fade, .show{
  background-color:#ff6f61;
}
.dropdown-menu{
  margin-top:30%;
}
